/* Mobile CSS */
@media (max-width: 768px) {
    .mobile-controls { display: block; }
    .container {
        grid-template-columns: 1fr; 
        padding-top: 60px;
    }

    #conversation {
        padding: 0 5px;
    }

    .msg-row {
        grid-template-columns: 1fr;
    }

    .container.view-fr .fr-cell {
        border-right: none !important;
    }

    /* Si le conteneur a la classe 'view-fr', on cache l'espagnol */
    .container.view-fr .es-cell {
        display: none !important;
    }

    /* Si le conteneur a la classe 'view-es', on cache le français */
    .container.view-es .fr-cell {
        display: none !important;
    }
}