name: Deploy to Google Cloud

on:
  push:
    branches:
      - main  # Ou 'master' selon votre branche principale

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          # Augmenter le timeout au cas où pip install est long
          command_timeout: 15m 
          script: |
            set -e  # Arrête tout en cas d'erreur
            
            cd ~/live-speech-translation
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            pm2 reload mon-app-traduction || pm2 restart mon-app-traduction